@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
      }

    body {
        /* @apply bg-[url('/bg.jpg')] bg-cover bg-fixed; */
        @apply bg-slate-900 text-lime-400
    }
}